@charset"utf-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 500px;
    width: 300px;       /* Largura do player do som */
    height: 30px;       /* Altura do player do som, para ficar adequado
                           dentro da imagem do rádio*/
}

video#filme {
    display: block;
    position: relative; /* Posição relativa a DIV em que ele está inserido*/
    left: 87px;        /* 100px da margem esqueda da div */
    top: 85px;         /* 100px da margem superior da div */
    width: 440px;
}